doctype html
html(lang="en")
	include base/header.pug
	body
		.comming-soon
			.azir-container
				.comming-soon_content
					h1.heading.comming-soon--title Azir is under construction!
					p.p-16.comming-soon--subtitle We`ll be here soon with our new awesome site.
					#countdown
					.row.justify-content-center
						.col-12.col-md-7
							form(action="")
								input.input-form(type="text" placeholder="Enter your email address")
								button.btn-pink Subscribe
		include base/footer_links.pug