doctype html
html(lang="en")
	include base/header.pug
	body
		header.header-style4
			.header
				.azir-container-fluid
					.row.no-gutters.align-items-center
						.col-6.order-1.col-lg-2.col-xxl-2
							a(href="index.html").logo
								img(src="assets/images/logo-green.png", alt="logo")
						.col-12.order-lg-2.col-lg-9.col-xl-7.col-xxl-6
							.navigation.text-center
								ul
									li.navigtion-item.active
										a.navigation-link(href="index.html") Home
										i.submenu-opener
										.dropdown_menu
											include base/homepages_links.pug
									li.navigtion-item
										a.navigation-link(href="about.html") About
										i.submenu-opener
										.dropdown_menu
											include base/about_links.pug
									li.navigtion-item
										a.navigation-link(href="services_1.html") Services
										i.submenu-opener
										.dropdown_menu
											include base/services_links.pug
									li.navigtion-item
										a.navigation-link(href="case_studies.html") Case Studies
										i.submenu-opener
										.dropdown_menu
											include base/case_study_links.pug
									li.navigtion-item
										a.navigation-link(href="about.html") Insight
										i.submenu-opener
										.dropdown_menu
											include base/insights_links.pug
									li.navigtion-item
										a.navigation-link(href="#") Pages
										i.submenu-opener
										.dropdown_menu
											include base/pages_links.pug
									li.navigtion-item
										a.navigation-link(href="contact.html") Contact
						.col-12.order-lg-4.order-xxl-3.col-xxl-2.text-center
							p.contact Call Us: 
								span 001-1234-88888
						.col-6.order-2.order-lg-3.order-xxl-4.col-lg-1.col-xl-3.col-xxl-2
							.page-function.text-right
								.function-btn.inline-block
									a(href="#")#search
										i.icon_search
								.social-icons.inline-block
									a(href="https://www.facebook.com/")
										i.fab.fa-facebook-f
									a(href="https://twitter.com/")
										i.fab.fa-twitter
									a(href="https://youtube.com/")
										i.fab.fa-youtube
									a(href="https://www.invisionapp.com/")
										i.fab.fa-invision
								.function-btn.nav-bar.inline-block
									a(href="#")#open-menu-sidebar
										i.icon_menu
		section.h4-banner
			.azir-container
				.row.align-items-center.justify-content-between
					.col-12
						.banner-content.text-center
							h5.h5.banner-subtitle(data-aos="fade-down",  data-aos-delay="500") Quick & Smart Solution!
							h1.heading.banner-title(data-aos="fade-down",  data-aos-delay="1500") BETTER INSIGHT <br/> FOR YOUR BUSINESS
							.btn-group(data-aos="fade-down",  data-aos-delay="2500")
								a.banner-btn.btn-green(href="services_1.html") Get A Quote
								a.banner-btn.btn-white-green(href="services_1.html") Our Services
		section.h4-section3
			.azir-container
				.row
					.col-12
						.section-header-style-2.text-center
							h1.h1 We are help you to <br> Grow your Business
							p.p We work with you to transform your organization, driving bold ideas and pragmatic solutions.
					.col-12
						.benefit-detail(data-aos="fade-up")
							.row
								.col-12.col-sm-6.col-md-3
									.benefit-detail_group
										.benefit-icon
											i.az-icon-1
										.benefit-content
											h5.h5.benefit-content--title Strategy
											p.p.benefit-content--pragraph Tailored solutions that deliver results and achieve sustained growth
								.col-12.col-sm-6.col-md-3
									.benefit-detail_group
										.benefit-icon
											i.az-icon-9
										.benefit-content
											h5.h5.benefit-content--title Taxes
											p.p.benefit-content--pragraph Tailored solutions that deliver results and achieve sustained growth
								.col-12.col-sm-6.col-md-3
									.benefit-detail_group
										.benefit-icon
											i.az-icon-6
										.benefit-content
											h5.h5.benefit-content--title Restructuring
											p.p.benefit-content--pragraph Tailored solutions that deliver results and achieve sustained growth
								.col-12.col-sm-6.col-md-3
									.benefit-detail_group
										.benefit-icon
											i.az-icon-8
										.benefit-content
											h5.h5.benefit-content--title Restructuring
											p.p.benefit-content--pragraph Tailored solutions that deliver results and achieve sustained growth
		section.h4-section1
			.azir-container
				.layout-2col-ti
					.row.justify-content-between.align-items-center
						.col-12.col-md-6
							.layout-2col-ti_left
								.section-header-style-3.text-center.text-md-left
									h1.h1 Welcome to Azir!
									h6.h6 "We’re passionate about making a measurable impact in all we do."
									p.p For more than 40 years, we’ve been passionate about achieving better results for our clients—results that go beyond financial and are uniquely tailored, pragmatic, holistic and enduring.
									a(href="about.html").btn-green About us
						.col-12.col-md-6
							.layout-2col-ti_right
								.benifit-illus.text-center.text-md-right
									img(src="assets/images/homepage4/illus.svg", alt="illustration")
		section.h4-section2
			.data-proof
				.azir-container
					.row
						.col-6.col-md-3
							.data-group.text-center.mb30-md
								.data-icon
									i.az-icon-10
								.data-content
									h1.data-number.heading.numscroller(data-min='1' data-max='2009' data-delay='5' data-increment='5') 2009
									h5.data-type.h5 Company Established
						.col-6.col-md-3
							.data-group.text-center.mb30-md
								.data-icon
									i.az-icon-11
								.data-content
									h1.data-number.heading.numscroller(data-min='1' data-max='635' data-delay='5' data-increment='5') 635
									h5.data-type.h5 Project Done
						.col-6.col-md-3
							.data-group.text-center
								.data-icon
									i.az-icon-12
								.data-content
									h1.data-number.heading.numscroller(data-min='1' data-max='20' data-delay='2' data-increment='3') 20
										span +
									h5.data-type.h5 Business Parners
						.col-6.col-md-3
							.data-group.text-center
								.data-icon
									i.az-icon-13
								.data-content
									h1.data-number.heading.numscroller(data-min='1' data-max='1920' data-delay='5' data-increment='5') 1920
									h5.data-type.h5 Happy Clients
		section.call-to-action
			.azir-container
				.row.justify-content-between.align-items-center
					.col-12.col-lg-9
						.call-to-action_content.text-center.text-lg-left
							h3.h3.cta-title Would you like to speak to one of our financial advisers?
							p.p.cta-pragraph Just submit your contact details and we’ll be in touch shortly. 
					.col-12.col-lg-3.text-lg-right.text-center
						a(href="services_1.html").cta-btn.btn-green Get A Quote
		section.h4-section4
			.azir-container
				.layout-2col-ti
					.row.align-items-center.justify-content-between
						.col-12.col-md-6.col-lg-5
							.layout-2col-ti_left
								.h4-section4_introduction
									h1.h1 WP Theme for Consulting!
									p.p Your business is in a continual battle for your customers’ recognition whether you know it or not.
									ul
										li Act with Honesty and Integrity
										li Constantly Focus on Safety and Quality
										li Provide Professional and Technical Excellence
										li Promote a Cooperative Team Environment
										li Cultivate Long-Term Relationships with our clients
						.col-12.col-md-6
							.layout-2col-ti_right
								img(src="assets/images/homepage4/illus-2.svg", alt="illustration")
		section.h4-section5
			.azir-container
				.row.justify-content-between
					.col-12.col-md-6.col-lg-5
						.quick-contact.quick-contact_h3(data-aos="fade-up")
							.row.justify-content-between
								.col-12
									.quick-contact_left
										h1.h1 Request a call back.
										.input-group
											label(for="jobs") Speak to our experts in:
											select#jobs.green(name="jobs")
												option(value="Deer") Deer
												option(value="Creative") Creative
												option(value="Creative" selected disabled hidden) Select an industry
								.col-12
									.quick-contact_right
										input.input-form(type="text" placeholder="First name" required)
										input.input-form(type="text" placeholder="Last name" required)
										button.btn-green Submit
					.col-12.col-md-6.col-lg-6
						.h2-section3(data-aos="fade-down")
							h1.h1 What Client Says?
							.counselor-wrapper
								.counselor-block
									.counselor
										img.avatar(src="assets/images/homepage2/avatar.png", alt="avatar")
										.counselor-detail
											h5 Maud Salazar
											p CEO DEERCREATIVE
									q.counselors-advice "Airi analysts have done an excellent job presenting the analysis and insights. I am confident in saying that they have helped move our business forward!"
								.counselor-block
									.counselor
										img.avatar(src="assets/images/homepage2/avatar.png", alt="avatar")
										.counselor-detail
											h5 Maud Salazar
											p CEO DEERCREATIVE
									q.counselors-advice "Airi analysts have done an excellent job presenting the analysis and insights. I am confident in saying that they have helped move our business forward!"
								.counselor-block
									.counselor
										img.avatar(src="assets/images/homepage2/avatar.png", alt="avatar")
										.counselor-detail
											h5 Maud Salazar
											p CEO DEERCREATIVE
									q.counselors-advice "Airi analysts have done an excellent job presenting the analysis and insights. I am confident in saying that they have helped move our business forward!"
							.counselor_slider-control
		section.h2-faqs-insights.h4-faqs-insights(data-aos="fade-in", data-aos-offset="-400", data-aos-duration="1500")
			.azir-container
				.row
					.col-12
						h1.h1 FAQ'S
					.col-12.col-md-6
						.faqs-accordion#accordion
							h3.accordion-section.active.faqs-question 
								span How we can help you?
							p.faq-answer I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal.
							h3.accordion-section.faqs-question 
								span What does Zano Consulting do?
							p.faq-answer I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal. 
							h3.accordion-section.faqs-question 
								span What industries do you specialize in?
							p.faq-answer I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal. 		
							h3.accordion-section.faqs-question 
								span How long does it take?
							p.faq-answer I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal. 		
							h3.accordion-section.faqs-question 
								span Do we really need a business plan?
							p.faq-answer I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal. 				
					.col-12.col-md-6
						h1.h1 Latest Insights
						.h2-insights-group
							.insight-regular
								.insight-img
									img(src="assets/images/homepage2/insight-img-1.png", alt="insights image")
									p.date 26 Nov 2019
								.insight-content
									a(href="blog_detail.html") Marketing consultancy Digital Decisions hires Peter Hanford
									p.author by
										span Admin
							.insight-regular
								.insight-img
									img(src="assets/images/homepage2/insight-img-2.png", alt="insights image")
									p.date 26 Nov 2019
								.insight-content
									a(href="blog_detail.html") Marketing consultancy Digital Decisions hires Peter Hanford
									p.author by
										span Admin
							.insight-regular
								.insight-img
									img(src="assets/images/homepage2/insight-img-1.png", alt="insights image")
									p.date 26 Nov 2019
								.insight-content
									a(href="blog_detail.html") Marketing consultancy Digital Decisions hires Peter Hanford
									p.author by
										span Admin
		section.partners
			.azir-container
				.partners-group
					a.partner(href="#")
						img(src="assets/images/partner-1.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-2.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-3.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-4.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-5.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-3.png", alt="partner logo")
		footer.green
			.footer-top
				.azir-container
					.row.justify-content-between
						.col-12.col-lg-4
							.logo
								img(src="assets/images/logo-green-2.png", alt="logo")
							p.website-introduce For more than 40 years, we’ve been passionate about achieving better results for our clients—results that go beyond financial and are uniquely tailored, pragmatic, holistic and enduring.
						.col-12.col-sm-6.col-md-5.col-lg-3
							h5.footer-title Quick link
							ul.footer-links_group.inline-block
								li
									a.footer-link(href="about.html") About
								li
									a.footer-link(href="aproach.html") Aproach
								li
									a.footer-link(href="our_team.html") People
								li
									a.footer-link(href="review.html") Reviews
								li
									a.footer-link(href="blog_default.html") Insights
							ul.footer-links_group.inline-block
								li
									a.footer-link(href="services_1.html") Services
								li
									a.footer-link(href="services_1.html") Industries
								li
									a.footer-link(href="case_study.html") Case Studies
								li
									a.footer-link(href="shop.html") Shop
								li
									a.footer-link(href="contact.html") Contacts

						.col-12.col-sm-6.col-md-7.col-lg-4
							h5.footer-title Subscribe to the best creative articles feed.
							form(method="POST").form-group
								.input-group
									input(type="text" placeholder="Your e-mail address" required)
									button.btn-green Subcribe
								label(for="privacy-policy") 
									input#privacy-policy(type="checkbox")
									|*I have read the Privacy Policy and agree to its terms.
			.footer-bottom
				.azir-container
					.row.align-items-center
						.col-8
							p.copyright @2019 Azir. All rights reserved.
						.col-4
							.footer-socials.text-right
								a(href="https://www.facebook.com/").fab.fa-facebook-f
								a(href="https://twitter.com/").fab.fa-twitter
								a(href="https://youtube.com/").fab.fa-youtube
								a(href="https://www.invisionapp.com/").fab.fa-invision

		include base/footer_links.pug