doctype html
html(lang="en")
	include base/header.pug
	body
		header.header-style2.pink
			.top-nav.top-nav-style2
				.azir-container
					.row.align-items-center
						.col-12.col-lg-6
							.top-nav_left
								p.notification Welcome to New York Office
						.col-12.col-lg-6
							.top-nav_right.text-lg-right 
								.language.inline-block
									a(href="#").select
										.flag.inline-block
											img(src="assets/images/homepage1/flag.png", alt="flag")
										|English
									.options-box
										ul
											li
												a(href="#").select.option
													.flag.inline-block
														img(src="assets/images/homepage1/flag.png", alt="flag")
													|Vietnamese
											li
												a(href="#").select.option
													.flag.inline-block
														img(src="assets/images/homepage1/flag.png", alt="flag")
													|Chinese
								.social.inline-block
									span Follow:
									a(href="https://www.facebook.com/").fab.fa-facebook-f
									a(href="https://twitter.com/").fab.fa-twitter
									a(href="https://www.invisionapp.com/").fab.fa-invision
			.header
				.header-middle
					.azir-container
						.row.align-items-center
							.col-11.col-lg-3
								a(href="index.html").logo
									img(src="assets/images/logo-pink-2.png", alt="logo")
							.col-1.col-lg-9
								.website-info
									.info-block
										.info-icon
											i.fas.fa-phone-alt
										.info-content
											p.light-title Call us:
											h6.main-title 001-1234-8888
									.info-block
										.info-icon
											i.fas.fa-map-marker-alt
										.info-content
											p.light-title Office Address:
											h6.main-title 350 5th Ave, New York
									.info-block
										.info-icon
											i.far.fa-clock
										.info-content
											p.light-title Open Time:
											h6.main-title Mon-Fri: 08:00 - 19:00
				.header-bottom
					.azir-container
						.row.align-items-center.justify-content-end
							.col-1.col-lg-8
								.navigation
									ul
										li.navigtion-item
											a.navigation-link(href="index.html") Home
											i.submenu-opener
											.dropdown_menu
												include base/homepages_links.pug
										li.navigtion-item
											a.navigation-link(href="about.html") About
											i.submenu-opener
											.dropdown_menu
												include base/about_links.pug
										li.navigtion-item.active
											a.navigation-link(href="services_1.html") Services
											i.submenu-opener
											.dropdown_menu
												include base/services_links.pug
										li.navigtion-item
											a.navigation-link(href="case_studies.html") Case Studies
											i.submenu-opener
											.dropdown_menu
												include base/case_study_links.pug
										li.navigtion-item
											a.navigation-link(href="about.html") Insight
											i.submenu-opener
											.dropdown_menu
												include base/insights_links.pug
										li.navigtion-item
											a.navigation-link(href="#") Pages
											i.submenu-opener
											.dropdown_menu
												include base/pages_links.pug
										li.navigtion-item
											a.navigation-link(href="contact.html") Contact
							.col-11.col-lg-4
								.page-function_block.d-flex.align-items-center.justify-content-end
									.page-function
										.function-btn.inline-block
											a(href="#")#search
												i.icon_search
										.function-btn.inline-block
											a(href="#")#cart
												i.icon_bag_alt
										.function-btn.inline-block
											a(href="#")#open-menu-sidebar
												i.icon_menu
									a.btn.btn-pink(href="services_1.html") Get a quote
		.page-header_parallax(style='background-image: url("assets/images/parallax-bg-header.png")')
			h1.heading Services
		section.services-detail
			.azir-container
				.row
					.col-12.col-lg-4.col-xl-3
						.services-detail_sidebar#sidebar
							.sidebar_section
								.our-services
									h3.sidebar-title Our Sevices
									ul.services-list
										li
											a(href="") Strategy & Planning
										li
											a(href="") Finance & Restructuring
										li
											a(href="") Estate Planning
										li
											a(href="") Consumer Markets
										li
											a(href="") Taxes & Efficiency
										li
											a(href="") Audit & Evaluation
										li
											a(href="") Financial Services
										li
											a(href="") Communications
							.sidebar_section
								.support-block
									h3.sidebar-title Support!
									p.p-16 Contact us at the Consultec WP office nearest to you or submit a business inquiry online.
									a.btn(href="contact.html") Contact Us
							.sidebar_section
								.our-brouchure
									h3.sidebar-title Our Brouchure
									p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
									a(href="").download-btn
										i.far.fa-file-pdf
										span Download PDF Brochure
									a(href="").download-btn
										i.far.fa-file-excel
										span Download PTT Brochure
									a(href="").download-btn
										i.far.fa-file-word
										span Download DOC Brochure
					.col-12.col-lg-8.col-xl-9
						.services-detail_contents
							.row
								.col-12
									.serivces-detail_header.d-flex.align-items-center.justify-content-between
										h1.h1 What we do?
										a#sidebar-opener.mb-0(href="#") 
											i.icon_menu
											| Open sidebar
									p.p-16.mb-15 Sometimes this is the irony of promoting your businesses products and services, because for a fact that you want to make your business recognizable and earn more sales of course you need to come up with attractive prints that will make you stand out.
									p.p-16.mb-15 And since you want to be competitive you want to come up with a material that will make you stand out and recognizable.
									p.p-16.mb-50 But because of the high rise and increase of commodities businesses find it hard and expensive to develop extravagant materials for advertising. Brochures as among the most preferred marketing tools used at present are among the excellent material that helps businesses effectively.
								.col-12.col-md-6
									h3.service-title Strategy & Planning
									p.p-16.mb-15 Mainly looking for cheap brochure printing services can be easily attained through the following:
									ul.mb-50
										li 1.  Referrals – by simply seeking. 
										li 2.  Televisions and newspapers.
										li 3.  Online services – made by technology.
										li 4.  Aenean vel odio posuere ex blandit suscipit.
										li 5.  Quisque lobortis dui ac cursus cursus.
								.col-12.col-md-6
									h3.service-title Stats & Charts
									.chart.mb-50
										<canvas id="myChart" width="400" height="250"></canvas>
								.col-12
									h3.service-title FAQ'S
									.faqs-accordion#accordion.mb-50
										h3.accordion-section.active.faqs-question 
											span How we can help you?
										p.faq-answer I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal.
										h3.accordion-section.faqs-question 
											span What does Zano Consulting do?
										p.faq-answer I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal. 
										h3.accordion-section.faqs-question 
											span What industries do you specialize in?
										p.faq-answer I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal. 		
										h3.accordion-section.faqs-question 
											span How long does it take?
										p.faq-answer I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal. 		
										h3.accordion-section.faqs-question 
											span Do we really need a business plan?
										p.faq-answer I want to talk about to things that are quite important to me. There are love and one my personal inadequacies. The thing is that I’m quite fond of love, I think that it’s a pretty all right deal.
								.col-12
									section.h1-lastest-insight
										h1.service-title Insights
										.lastest-insights
											.row
												.col-12.col-md-6
													.feature-lastest-insights
														a(href="blog_detail.html").feature-lastest-insights_img
															img(src="assets/images/homepage1/insight.png", alt="lastest insights image")
														.feature-lastest-insights_content
															h5.insight-tag Consulting
															a(href="blog_detail.html").insight-title Year in Review: Healthcare Megadeals Lead the Way
															.insight-public-date
																p.inline-block.author Amin
																p.inline-block.date 26 Nov 2019
												.col-12.col-md-6
													.list-lastest-insights_group
														.list-lastest-insight
															.list-lastest-insight_content
																a(href="blog_detail.html").list-insight--title How Commodity Producers Can Raise Their 
																.insight-public-date
																	p.inline-block.author Amin
																	p.inline-block.date 26 Nov 2019
														.list-lastest-insight
															.list-lastest-insight_content
																a(href="blog_detail.html").list-insight--title Micro-battles and Building New Businesses
																.insight-public-date
																	p.inline-block.author Amin
																	p.inline-block.date 26 Nov 2019
														.list-lastest-insight
															.list-lastest-insight_content
																a(href="blog_detail.html").list-insight--title 4 Questions Retailers Need to Ask About Augmented Reality
																.insight-public-date
																	p.inline-block.author Amin
																	p.inline-block.date 26 Nov 2019
														.list-lastest-insight
															.list-lastest-insight_content
																a(href="blog_detail.html").list-insight--title Consumer Products: Now’s the Time to Double Down on China
																.insight-public-date
																	p.inline-block.author Amin
																	p.inline-block.date 26 Nov 2019 	
		section.partners
			.azir-container
				.partners-group
					a.partner(href="#")
						img(src="assets/images/partner-1.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-2.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-3.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-4.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-5.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-3.png", alt="partner logo")
		footer.pink
			.footer-top
				.azir-container
					.row.justify-content-between
						.col-12.col-lg-4
							.logo
								img(src="assets/images/logo-pink-2.png", alt="logo")
							p.website-introduce For more than 40 years, we’ve been passionate about achieving better results for our clients—results that go beyond financial and are uniquely tailored, pragmatic, holistic and enduring.
						.col-12.col-sm-6.col-md-5.col-lg-3
							h5.footer-title Quick link
							ul.footer-links_group.inline-block
								li
									a.footer-link(href="about.html") About
								li
									a.footer-link(href="aproach.html") Aproach
								li
									a.footer-link(href="our_team.html") People
								li
									a.footer-link(href="review.html") Reviews
								li
									a.footer-link(href="blog_default.html") Insights
							ul.footer-links_group.inline-block
								li
									a.footer-link(href="services_1.html") Services
								li
									a.footer-link(href="services_1.html") Industries
								li
									a.footer-link(href="case_study.html") Case Studies
								li
									a.footer-link(href="shop.html") Shop
								li
									a.footer-link(href="contact.html") Contacts

						.col-12.col-sm-6.col-md-7.col-lg-4
							h5.footer-title Subscribe to the best creative articles feed.
							form(method="POST").form-group
								.input-group
									input(type="text" placeholder="Your e-mail address" required)
									button.btn-pink Subcribe
								label(for="privacy-policy") 
									input#privacy-policy(type="checkbox")
									|*I have read the Privacy Policy and agree to its terms.
			.footer-bottom
				.azir-container
					.row.align-items-center
						.col-8
							p.copyright @2019 Azir. All rights reserved.
						.col-4
							.footer-socials.text-right
								a(href="https://www.facebook.com/").fab.fa-facebook-f
								a(href="https://twitter.com/").fab.fa-twitter
								a(href="https://youtube.com/").fab.fa-youtube
								a(href="https://www.invisionapp.com/").fab.fa-invision
		include base/footer_links.pug
		script.
			var ctx = document.getElementById('myChart');
			var myChart = new Chart(ctx, {
			    type: 'bar',
			    data: {
			        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
			        datasets: [{
			            label: '# of Votes',
			            data: [12, 19, 3, 5, 2, 3],
			            backgroundColor: [
			                'rgba(255, 99, 132, 0.2)',
			                'rgba(54, 162, 235, 0.2)',
			                'rgba(255, 206, 86, 0.2)',
			                'rgba(75, 192, 192, 0.2)',
			                'rgba(153, 102, 255, 0.2)',
			                'rgba(255, 159, 64, 0.2)'
			            ],
			            borderColor: [
			                'rgba(255, 99, 132, 1)',
			                'rgba(54, 162, 235, 1)',
			                'rgba(255, 206, 86, 1)',
			                'rgba(75, 192, 192, 1)',
			                'rgba(153, 102, 255, 1)',
			                'rgba(255, 159, 64, 1)'
			            ],
			            borderWidth: 1
			        }]
			    },
			    options: {
			        scales: {
			            yAxes: [{
			                ticks: {
			                    beginAtZero: true
			                }
			            }]
			        }
			    }
			});