doctype html
html(lang="en")
	include base/header.pug
	body
		header.header-style2.pink
			.top-nav.top-nav-style2
				.azir-container
					.row.align-items-center
						.col-12.col-lg-6
							.top-nav_left
								p.notification Welcome to New York Office
						.col-12.col-lg-6
							.top-nav_right.text-lg-right 
								.language.inline-block
									a(href="#").select
										.flag.inline-block
											img(src="assets/images/homepage1/flag.png", alt="flag")
										|English
									.options-box
										ul
											li
												a(href="#").select.option
													.flag.inline-block
														img(src="assets/images/homepage1/flag.png", alt="flag")
													|Vietnamese
											li
												a(href="#").select.option
													.flag.inline-block
														img(src="assets/images/homepage1/flag.png", alt="flag")
													|Chinese
								.social.inline-block
									span Follow:
									a(href="https://www.facebook.com/").fab.fa-facebook-f
									a(href="https://twitter.com/").fab.fa-twitter
									a(href="https://www.invisionapp.com/").fab.fa-invision
			.header
				.header-middle
					.azir-container
						.row.align-items-center
							.col-11.col-lg-3
								a(href="index.html").logo
									img(src="assets/images/logo-pink-2.png", alt="logo")
							.col-1.col-lg-9
								.website-info
									.info-block
										.info-icon
											i.fas.fa-phone-alt
										.info-content
											p.light-title Call us:
											h6.main-title 001-1234-8888
									.info-block
										.info-icon
											i.fas.fa-map-marker-alt
										.info-content
											p.light-title Office Address:
											h6.main-title 350 5th Ave, New York
									.info-block
										.info-icon
											i.far.fa-clock
										.info-content
											p.light-title Open Time:
											h6.main-title Mon-Fri: 08:00 - 19:00
				.header-bottom
					.azir-container
						.row.align-items-center.justify-content-end
							.col-1.col-lg-8
								.navigation
									ul
										li.navigtion-item
											a.navigation-link(href="index.html") Home
											i.submenu-opener
											.dropdown_menu
												include base/homepages_links.pug
										li.navigtion-item
											a.navigation-link(href="about.html") About
											i.submenu-opener
											.dropdown_menu
												include base/about_links.pug
										li.navigtion-item
											a.navigation-link(href="services_1.html") Services
											i.submenu-opener
											.dropdown_menu
												include base/services_links.pug
										li.navigtion-item
											a.navigation-link(href="case_studies.html") Case Studies
											i.submenu-opener
											.dropdown_menu
												include base/case_study_links.pug
										li.navigtion-item
											a.navigation-link(href="about.html") Insight
											i.submenu-opener
											.dropdown_menu
												include base/insights_links.pug
										li.navigtion-item.active
											a.navigation-link(href="#") Pages
											i.submenu-opener
											.dropdown_menu
												include base/pages_links.pug
										li.navigtion-item
											a.navigation-link(href="contact.html") Contact
							.col-11.col-lg-4
								.page-function_block.d-flex.align-items-center.justify-content-end
									.page-function
										.function-btn.inline-block
											a(href="#")#search
												i.icon_search
										.function-btn.inline-block
											a(href="#")#cart
												i.icon_bag_alt
										.function-btn.inline-block
											a(href="#")#open-menu-sidebar
												i.icon_menu
									a.btn.btn-pink(href="services_1.html") Get a quote
		section.shop
			.azir-container
				.page-header.text-center
					h1.h1 Our Shop
					.bread-crumb
						a(href="index.html").bread-crumb__link.prv-page Home
						a(href="#").bread-crumb__link.prv-page Pages
						a(href="shop.html").bread-crumb__link.crt-page Shop
				.row.no-gutters
					.col-12
						.shop-list
							.row
								.col-12.col-lg-9
									a#sidebar-opener.mb-30(href="#") 
										i.icon_menu
										| Open sidebar
									.shop-list_header
										p.result-show Showing 1-9 of 22 results
										select.select-form(name="sort")
											option(value="default" selected) Default sort
											option(value="price-high") Price high to low
											option(value="price-low") Price low to high
									.shop-list_products
										.row
											.col-6.col-md-4
												.product_block
													.product__img
														img(src="assets/images/pages/shop/product1.png", alt="product image")
														.product__action
															a.compare(href="#")
																i.arrow_left-right_alt
															a.addtocart(href="#")
																i.icon_bag_alt
															a.like(href="#")
																i.icon_heart_alt
													.product__content
														a.product-name(href="shop_detail.html") Selling Away Game
														.price_block
															h5.product-price $40.00
															.product-rate
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star-half_alt
											.col-6.col-md-4
												.product_block
													.product__img
														img(src="assets/images/pages/shop/product2.png", alt="product image")
														.product__action
															a.compare(href="#")
																i.arrow_left-right_alt
															a.addtocart(href="#")
																i.icon_bag_alt
															a.like(href="#")
																i.icon_heart_alt
														p.product-status.new New
													.product__content
														a.product-name(href="shop_detail.html") The Gospel Tradition
														.price_block
															h5.product-price $40.00
															.product-rate
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star-half_alt
											.col-6.col-md-4
												.product_block
													.product__img
														img(src="assets/images/pages/shop/product3.png", alt="product image")
														.product__action
															a.compare(href="#")
																i.arrow_left-right_alt
															a.addtocart(href="#")
																i.icon_bag_alt
															a.like(href="#")
																i.icon_heart_alt
													.product__content
														a.product-name(href="shop_detail.html") Selling Away Game
														.price_block
															h5.product-price.discounted $40.00
																span $68.00
															.product-rate
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star-half_alt
											.col-6.col-md-4
												.product_block
													.product__img
														img(src="assets/images/pages/shop/product4.png", alt="product image")
														.product__action
															a.compare(href="#")
																i.arrow_left-right_alt
															a.addtocart(href="#")
																i.icon_bag_alt
															a.like(href="#")
																i.icon_heart_alt
														p.product-status.discount -30%
													.product__content
														a.product-name(href="shop_detail.html") Selling Away Game
														.price_block
															h5.product-price.discounted $40.00
																span $68
															.product-rate
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star-half_alt
											.col-6.col-md-4
												.product_block
													.product__img
														img(src="assets/images/pages/shop/product5.png", alt="product image")
														.product__action
															a.compare(href="#")
																i.arrow_left-right_alt
															a.addtocart(href="#")
																i.icon_bag_alt
															a.like(href="#")
																i.icon_heart_alt
													.product__content
														a.product-name(href="shop_detail.html") Selling Away Game
														.price_block
															h5.product-price $40.00
															.product-rate
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star-half_alt
											.col-6.col-md-4
												.product_block
													.product__img
														img(src="assets/images/pages/shop/product6.png", alt="product image")
														.product__action
															a.compare(href="#")
																i.arrow_left-right_alt
															a.addtocart(href="#")
																i.icon_bag_alt
															a.like(href="#")
																i.icon_heart_alt
													.product__content
														a.product-name(href="shop_detail.html") Selling Away Game
														.price_block
															h5.product-price $40.00
															.product-rate
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star-half_alt
											.col-6.col-md-4
												.product_block
													.product__img
														img(src="assets/images/pages/shop/product7.png", alt="product image")
														.product__action
															a.compare(href="#")
																i.arrow_left-right_alt
															a.addtocart(href="#")
																i.icon_bag_alt
															a.like(href="#")
																i.icon_heart_alt
													.product__content
														a.product-name(href="shop_detail.html") Selling Away Game
														.price_block
															h5.product-price $40.00
															.product-rate
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star-half_alt
											.col-6.col-md-4
												.product_block
													.product__img
														img(src="assets/images/pages/shop/product8.png", alt="product image")
														.product__action
															a.compare(href="#")
																i.arrow_left-right_alt
															a.addtocart(href="#")
																i.icon_bag_alt
															a.like(href="#")
																i.icon_heart_alt
														p.product-status.new New
													.product__content
														a.product-name(href="shop_detail.html") Selling Away Game
														.price_block
															h5.product-price $40.00
															.product-rate
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star-half_alt
											.col-6.col-md-4
												.product_block
													.product__img
														img(src="assets/images/pages/shop/product9.png", alt="product image")
														.product__action
															a.compare(href="#")
																i.arrow_left-right_alt
															a.addtocart(href="#")
																i.icon_bag_alt
															a.like(href="#")
																i.icon_heart_alt
													.product__content
														a.product-name(href="shop_detail.html") Selling Away Game
														.price_block
															h5.product-price $40.00
															.product-rate
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star
																i.icon_star-half_alt
										.pagination
											a(href="").pagenumber
												span 1
											a(href="").pagenumber.active
												span 2
											a(href="").pagenumber#next-btn
												span Next
								.col-12.col-lg-3
									.shop_sidebar#sidebar
										.sidebar_section
											.search
												form(method="GET")
													input.input-form(type="text" placeholder="Search" name="q")
										.sidebar_section
											.price-filter
												h3.sidebar-title Filter by price
												#slider-range
												.price-filter__content
													a(href="#").filter-btn Filter
													.input-group
														label(for="amount") Price:
														input#amount(type='text', readonly='', style='border:0')
										.sidebar_section
											.blog-categories
												h3.sidebar-title Categories
												ul
													li
														a.category-link(href="blog_sidebar.html")
															span.name Competitive research
															span.quantity (03)
													li
														a.category-link(href="blog_sidebar.html")
															span.name Private Equity
															span.quantity (07)
													li
														a.category-link(href="blog_sidebar.html")
															span.name Marketing
															span.quantity (15)
													li
														a.category-link(href="blog_sidebar.html")
															span.name Business Plans
															span.quantity (09)
													li
														a.category-link(href="blog_sidebar.html")
															span.name Economics
															span.quantity (10)
										.sidebar_section
											.top-product
												h3.sidebar-title Top Product
												.top-product_block
													img.top-product__img(src="assets/images/pages/shop/small-product1.png", alt="product image")
													.top-product__content
														a.product-name(href="shoo_detail.html") The Greatest Life
														.product-rate
															i.icon_star
															i.icon_star
															i.icon_star
															i.icon_star
															i.icon_star-half_alt
														h5.product-price $30.00
												.top-product_block
													img.top-product__img(src="assets/images/pages/shop/small-product2.png", alt="product image")
													.top-product__content
														a.product-name(href="shoo_detail.html") The Gospel Tradition
														.product-rate
															i.icon_star
															i.icon_star
															i.icon_star
															i.icon_star
															i.icon_star-half_alt
														h5.product-price $30.00	
												.top-product_block
													img.top-product__img(src="assets/images/pages/shop/small-product3.png", alt="product image")
													.top-product__content
														a.product-name(href="shoo_detail.html") Selling Away Game
														.product-rate
															i.icon_star
															i.icon_star
															i.icon_star
															i.icon_star
															i.icon_star-half_alt
														h5.product-price $30.00		
										.sidebar_section
											.support-block
												h3.sidebar-title How Can We Help You?
												p.p-16 Contact us at the Consultec WP office nearest to you or submit a business inquiry online.
												a.btn(href="contact.html") Contact Us

		section.partners
			.azir-container
				.partners-group
					a.partner(href="#")
						img(src="assets/images/partner-1.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-2.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-3.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-4.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-5.png", alt="partner logo")
					a.partner(href="#")
						img(src="assets/images/partner-3.png", alt="partner logo")
		footer.pink
			.footer-top
				.azir-container
					.row.justify-content-between
						.col-12.col-lg-4
							.logo
								img(src="assets/images/logo-pink-2.png", alt="logo")
							p.website-introduce For more than 40 years, we’ve been passionate about achieving better results for our clients—results that go beyond financial and are uniquely tailored, pragmatic, holistic and enduring.
						.col-12.col-sm-6.col-md-5.col-lg-3
							h5.footer-title Quick link
							ul.footer-links_group.inline-block
								li
									a.footer-link(href="about.html") About
								li
									a.footer-link(href="aproach.html") Aproach
								li
									a.footer-link(href="our_team.html") People
								li
									a.footer-link(href="review.html") Reviews
								li
									a.footer-link(href="blog_default.html") Insights
							ul.footer-links_group.inline-block
								li
									a.footer-link(href="services_1.html") Services
								li
									a.footer-link(href="services_1.html") Industries
								li
									a.footer-link(href="case_study.html") Case Studies
								li
									a.footer-link(href="shop.html") Shop
								li
									a.footer-link(href="contact.html") Contacts

						.col-12.col-sm-6.col-md-7.col-lg-4
							h5.footer-title Subscribe to the best creative articles feed.
							form(method="POST").form-group
								.input-group
									input(type="text" placeholder="Your e-mail address" required)
									button.btn-pink Subcribe
								label(for="privacy-policy") 
									input#privacy-policy(type="checkbox")
									|*I have read the Privacy Policy and agree to its terms.
			.footer-bottom
				.azir-container
					.row.align-items-center
						.col-8
							p.copyright @2019 Azir. All rights reserved.
						.col-4
							.footer-socials.text-right
								a(href="https://www.facebook.com/").fab.fa-facebook-f
								a(href="https://twitter.com/").fab.fa-twitter
								a(href="https://youtube.com/").fab.fa-youtube
								a(href="https://www.invisionapp.com/").fab.fa-invision
		include base/footer_links.pug