ul
	li
		a.dropdown_link(href="blog_default.html") Blog Defaults
	li
		a.dropdown_link(href="blog_sidebar.html") Blog Sidebar
	li
		a.dropdown_link(href="blog_masonri.html") Blog Masonri
	li
		a.dropdown_link(href="blog_metro.html") Blog Metro
	li
		a.dropdown_link(href="blog_timeline.html") Blog Timeline
	li
		a.dropdown_link(href="blog_detail.html") Blog Details
	li
		a.dropdown_link(href="event.html") Event
	li
		a.dropdown_link(href="event_detail.html") Event Details