.container
	.row.align-items-center
		.col-12.col-lg-6
			.top-nav_left
				.top-nav_left--content.email.inline-block
					i.fas.fa-envelope
					| hi.azir@gmail.coms
				.top-nav_left--content.phone.inline-block
					i.fas.fa-phone-alt
					| 001-1234-88888
		.col-12.col-lg-6
			.top-nav_right.text-lg-right 
				.language.inline-block
					a(href="#").select
						.flag.inline-block
							img(src="assets/images/homepage1/flag.png", alt="flag")
						|English
					.options-box
						ul
							li
								a(href="#").select.option
									.flag.inline-block
										img(src="assets/images/homepage1/flag.png", alt="flag")
									|Vietnamese
							li
								a(href="#").select.option
									.flag.inline-block
										img(src="assets/images/homepage1/flag.png", alt="flag")
									|Chinese
				.office.inline-block
					a(href="#").select New York Office
					.options-box
						ul
							li
								a(href="#").select.option Vietnam Office
							li
								a(href="#").select.option Italy Office
				.social.inline-block
					a(href="https://www.facebook.com/").fab.fa-facebook-f
					a(href="https://twitter.com/").fab.fa-twitter
					a(href="https://www.invisionapp.com/").fab.fa-invision